/*General*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}


/*Page Wrapper Container*/

.pageWrap {
    clear: both;
}


/*Page Header*/

.pHeader,
.pHeader>H2 {
    background-color: #408ED3;
    color: #fff;
    padding: 5px 1% 5px 1%;
}

.cenCon {
    clear: both;
}


/*Columns*/

.colm {
    width: 31.33%;
    float: left;
    padding: 10px 1% 0px 1%;
}


/*Info Block*/

.infoBlock {
    margin: 20px 0px 20px 0px;
}

.infoBlock input {
    height: 30px;
    width: 100%;
    padding: 5px 0px 5px 5px;
    margin: 5px 0px 5px 0px;
}

input.medBlock {
    height: 100px;
}


/*Clearer*/

.clearer {
    clear: both;
}


/*Header & Footer Fixes*/


/*Grey Bar*/

.row.shopping-cart-row {
    max-width: none;
}


/*Main Blue Bar*/

#global-header .row.top-row {
    max-width: none;
}


/*Top Icon*/

#global-header #quicknav ul li > a {
    padding-top: 12px;
}


/*Search Black*/

#global-header.sticky #block-search-form input.search-btn {
    margin-top: 12px;
}